/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
main, header {
	background-color: #fdfcf8;
}
.header{
	background-color: black;
	color: aliceblue;
	padding: 17px;
	text-align: center;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0
}
section {
	padding: 60px 0;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}
.modifier{
	color:black;
	font-size: 14px;
	padding-left: 14px;
	cursor: pointer;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

a {
	all: unset;
  }
  
.category { 
		height: 35px;
		font-weight: bold;
		padding-right: 20px;
		padding-left: 20px;
		border-radius: 30px;
		background-color: white;
		border : 1px solid #1D6154;
		font-size: 14px;
		font-family: 'Syne';
		color: #1D6154;
		cursor: pointer;
}


#categories {
	display : flex;
	flex-direction:row;
	gap: 12px;
	margin-bottom: 30px;
	align-items: center;
    justify-content: center;
}

#categories .selectedCategory{
	background-color:#1D6154;
	color : white;

}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#modal_gallery figure {
position: relative;
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1em;
}

section#introduction {
	padding-right: 55px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 90px;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	padding-left: 50px;
  	padding-right: 30px;
}

.modal_gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 20px;
}

.gallery img, .modal_gallery img {
	width: 100%;

}
#contact{
	width: 50%;
margin: auto;
min-height: 71vh;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.password{
text-decoration: underline;
 }

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

 /* The Modal (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 40%;
	border-radius: 10px;
	position: relative;
  }
  
  /* The Close Button */
  #close {
	color: #333232;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: 20px;
  	top: 11px;
	z-index: 1;
  }
  
  #close:hover,
  #close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 

  .modal-title {
	font-size: 25px;
	text-align: center;
	margin: 20px;
  }
  .line {
	border-bottom:1px solid gray;
	margin-top: 40px;

  }

  .add {
	text-align: center;
  }

  #firstModalContent, .container{
	position: relative;
	margin-top: 39px;
	margin-bottom: -10px;
	margin-left: 55px;
	margin-right: 55px;
  }

  .fa-trash {
	position: absolute;
	z-index: 2;
	right: 8px;
  	top: 8px;
  	cursor: pointer;
}


.image-upload-button {
	display: inline-block;
	padding: 10px 20px;
	background-color:#45a049;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}
.image-upload-button:hover {
	background-color: #45a049;
}


.hidden {
	display: none;
}

.fa-xmark{
	position: absolute;
	right: 0;
	top: 0;

}

.fa-arrow-left{
	position: absolute;
	top: -38px;
  	left: -57px;
}

.fa-arrow-left, .fa-xmark, #open2, ul li {

	&:hover{
		cursor: pointer;

	}
}

.block{
	display: inline-block;
	margin: 2px;
	margin-top: 7px;
}

.upload-box {
	text-align: center;
	margin-bottom: 20px;
}
.upload-preview {
	position: relative;
	padding: 20px;
	border-radius: 8px;
	border: 2px;
}
.upload-button {
	background-color: #c2c7cb;
	color: white;
	padding: 10px 15px;
	border-radius: 40px;
	cursor: pointer;
	margin-top: 10px;
}
.upload-button :hover {
 background-color : #0056b3;
}
.file-info {
	margin-top: 10px;
}



.uploadimageBloc {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #dfebf3;
	flex-direction: column;
  	gap: 10px;
	margin-bottom: 15px;
  }
  
  .itemImage {
	width: 10em;
  }

  .itemText {
	font-size: small;
  }

  .fa-image{
	color: #c2c7cb;
  }

  #formImage {
	display: flex;
	flex-direction: column;
	gap: 14px;
  }

  #category {
	background-color: white;
	height: 36px;
  }

  input#title {
	height: 30px;
	padding-left: 15px;
  }
  

.shadow {
	box-shadow:  2px 3px 9px 5px rgba(156, 153, 153, 0.22);
	border-color: #f8f8f81f;
}

#image-preview img{
	height: 200px;
	width: 390px;
	object-fit: contain;
}


.imagehidden {
display: none;
}


/* The message box is shown when the user clicks on the password field */
#failedLoginMessage {
	display:none;
  }
  

  .error p {
	color: #e40d1c;
	font-size: 12px;
	padding-top: 16px;
  }
  